name: tests

on:
  push:

jobs:

  run-tests:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        # - macos-latest
        - windows-latest
        python-version:
        - "3.7"
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: install-dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[tests]" ".[plotting]"
      - name: run-tests
        run: pytest tests/ -s --durations 0
